/* Quiz shows a quiz question to the user and after evaluating the user response
  email_capture field is shown.

  Use:
  ===
  $('.quiz-row').quiz();

  - Quiz-row should have 3 parts: quiz-question area, quiz-answer form and quiz-result
  - Quiz-question should have quiz-question id
  - Quiz-answer form should have one <input> element with attribute 'type=text'
  - Quiz-result should have quiz-result id

*/

(function ($) {
  'use strict'

  $.fn.quiz = function() {
    return $(this).each(function(index, element) {
      $("div.email-capture-row").hide();

      var form = $(element).find("form");
      var quizResult = $(element).find("[id=quiz-result]");
      var questionArea = $(element).find("[id=quiz-question]");
      var answer1LabelElem = form.find('label[for=quiz-answer-input-1]');
      var answer2LabelElem = form.find('label[for=quiz-answer-input-2]');

      var question = "If you enter this series of commands into a computer, what " +
                     "would you expect the output to be.<br>a = 10<br>b = 20<br>a = b";
      var answer1Label = "a = ";
      var answer1 = 20;
      var answer2Label = "b = ";
      var answer2 = 20;
      var explanation = "Think of this in the same way a computer would. Or even " +
                        "better, try it out in <a href='http://bit.ly/playingwithcode'>IRB</a>";

      setUpView();
      form.on("submit", submitAnswer);

      function setUpView() {
        questionArea.html(question).show();
        answer1LabelElem.html(answer1Label).show();
        answer2LabelElem.html(answer1Label).show();
      }

      function submitAnswer(event) {
        event.preventDefault();
        updateView();
        var result1 = evaluateAnswer(getAnswer(1), answer1, answer1Label);
        var result2 = evaluateAnswer(getAnswer(2), answer2, answer2Label);
        showResult(result1, result2);
      }

      function getAnswer(input) {
        return form.find("[id=quiz-answer-input-"+ input +"]").val().trim();
      }

      function updateView() {
        $(".email-capture-row").show();
        $(".quiz-answer").hide();
      }

      function evaluateAnswer(userAnswer, answer, answerLabel) {
        if(userAnswer.toLowerCase() === answer.toString().toLowerCase()) {
          return {"answer": answer, "answerLabel": answerLabel, "userAnswer": userAnswer, "result": true, "className": "quiz-result-correct"};
        } else {
          return {"answer": answer, "answerLabel": answerLabel, "userAnswer": userAnswer, "result": false, "className": "quiz-result-wrong"};
        }
      }

      function showResult(input1, input2) {
        showResultContent(createFeedback(input1, input2));
        // updateClass(input.className);
      }

      function updateClass(className) {
        quizResult.attr("class", className);
      }

      function createFeedback(input1, input2) {
        if(input1.result && input2.result) {
          return "Your answer is correct!";
        } else {
          return "Your answer: " + input1.answerLabel + input1.userAnswer + ", " +
                 input2.answerLabel + input2.userAnswer + "<br>" +
                 "The correct answer is: " + input1.answerLabel + input1.answer +
                 ", " + input2.answerLabel + input2.answer + "<br>" + explanation;
        }
      }

      function showResultContent(message) {
        quizResult.html(message).show();
      }
    });
  };
})(jQuery);
