%section.article.article--centered.no-padding-bottom
  %article
    %h4.leader Our
    %h3 Manifesto
    %p
      %span Learning is so much more than a curriculum and some educational materials.
      We currently use a mixture of workshops, exercises, projects, classroom break-out sessions and end-of-week challenges to help our students understand programming. The immersive environment, having expert coaches on hand all day, and pairing with other students are all key to our educational process. We have six main beliefs. Together, they form our manifesto.

%section.no-padding-top
  .container
    .three-width-row.row-with-borders
      .column
        .header-container
          %h4.leader Coding != Science 
          %h3 Coding == Craft
        %p The best developers see themselves as artisans.
      .column
        .header-container
          %h3 Two Heads > One
        %p We prefer code written in pairs over code written by lone-wolves.
      .column
        .header-container
          %h4.leader Best Practises == 
          %h3 Worth the Effort
        %p Doing it right and going a little slower is always better than moving fast and ignoring best practise.
    .three-width-row.row-with-borders
      .column
        .header-container
          %h3 Learning > Doing
        %p You can read about riding a bike 'til the cows come home; unless you actually try riding one, you're unlikely to be competing in the Tour de France any time soon.
      .column
        .header-container
          %h4.leader The Best Learning == 
          %h3 Self-Guided Learning
        %p It doesn't matter how much you pay a personal trainer - you still have to do the squats! As with training, so with learning.
      .column
        .header-container
          %h4.leader Healthy Body &&
          %h3 Healthy Mind
        %p You have to be well to learn well.

    .button-row
      %p
        = link_to "Read more about our Manifesto", "http://blog.makersacademy.com/our-education-manifesto/", target: "_blank", class: "button--horizontal"
    

   

    

    

    