%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/mihai-writing-smiling.jpg")});"}
  .container
    .centered-row
      %h1 Curriculum
      %p We believe that learning to code consists of much more than just the materials we provide and the curriculum we've created. We currently use a mixture of workshops, exercises, projects, classroom break-out sessions and end-of-week challenges to help our students understand programming. The immersive environment, having expert coaches on hand all day and pairing with other students are all key to our educational process.
