%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/kay.jpg")});"}
  .container
    .centered-row
      %h1 Curriculum
      %p.lead Software is in our blood. We build our course like we train you to build software: constantly iterating, improving, and implementing. 
      %p.lead You'll learn to program and to use the latest technologies. And we'll train you in the skills and techniques used by industry leaders to be the best programmers they can be. 
      %p.lead That way, you're prepared for whatever the changing world of software engineering throws at you next.
