- description "Read if you're looking for information about Makers Academy in the press as well as the latest press release and news."
- title "Press Page | Makers Academy "


%section
  .container
    .centered-row
      %h4.leader.small-padding-top Europe’s Leading Coding School
      %h3 Makers Academy Launches Scholarship Programme  <br/>to promote greater diversity in UK Tech
      %p <em>October 23rd, London UK: </em>Makers Academy, Europe's most elite and competitive coding school, today announced the launch of its new fellowship programme, which will be awarded to four students enrolled in their 12 week - software engineering course in 2018.
      %p The school launched the programme with the aim of removing the financial barriers to entering the UK’s digital industry through education and to promote greater diversity in the future workforce.
      %p As part of the programme, Makers Fellows will learn to code, for free, and be guaranteed a job as a junior software developer at the end of term.
      %p Pre-course learning will take place remotely from November 20th 2017 to January 3rd 2018. The course will take place from January 3rd to March 16th 2018 at Makers Academy, located in the heart of Tech City in London.
      %p The Fellowship is open to all applicants, but special attention will be paid to those from diverse backgrounds. Potential students are not required to have university degrees to apply for the programme. Applications are open from October 23rd to November 1st 2017 and can be accessed on #{link_to "http://www.makersacademy.com/fellowship/", "http://www.makersacademy.com/fellowship/", target: '_blank'}
      %p “Maker’s Academy is on a mission to find tomorrow’s tech talent and we are casting a wide net in our search for the best candidates – and opening this competition to anyone who is interested in a career in tech,” said Evgeny Shadchnev, CEO of Makers Academy. “We believe that talent is everywhere, but opportunity isn’t, so we are aiming to level the playing field by sponsoring four students from different backgrounds to do the course. This initiative will not only help to close the fundamental digital skills divide that still plagues this country, but the diversity gap as well.”
      %p Makers Academy has a successful track record for spotting and developing the talent of students from different backgrounds. Over 35% of its graduates have been women: two times higher than the industry average. In the past it has also developed its own fund to attract students from difficult backgrounds. To date, Makers Academy has turned over 1,000 people into junior software engineers and placed graduates with leading global brands such as Deloitte Digital, Sky and the Financial Times.


:javascript
  analytics.track('Viewed Employers Landing Page', {'Landing Page': 'Pr-231017'});
