- description "Europe’s Leading Coding School Makers Academy Launches Scholarship Programme."
- title "Scholarship Press Release | Makers Academy "

%section
  .container
    .centered-row
      %h4.leader.small-padding-top Tesco Joins Forces with Makers Academy
      %h3 To Recruit Software Engineers for Tech Team
      %p <em>February 27th, London UK: </em>London based Makers Academy, Europe’s leading  software engineering provider, today announced that Tesco, one of the world’s biggest retailers, has recruited a number of its recent Makers trainees for its tech team.
      %p Tesco chose to access Makers Academy’s top talent in response to the school’s reputation for excellence in software training and its emphasis on diversity.
      %p “The trainees selected to join the Tesco team hail from a mix of backgrounds, including army, financial services and digital marketing,” said Evgeny Shadchnev, CEO of Makers Academy. “Collectively their unique experiences, coupled with the rigorous training we provide through the programme, gives Tesco a highly qualified workforce that has all the necessary breadth of ideas, perspective and experience to ensure it remains a dominant digital player in the world of retail.”
      %p Makers Academy casts a wide net when recruiting for trainees and is committed to helping to close the diversity gap in technology skills in the UK. There’s no university qualification or age limit requirement to apply for the intensive three-month programme. Entry is based on interviews and a candidate’s potential to succeed at the school. Special attention is paid to those from diverse backgrounds. Upon completion, developers are put forward for jobs with top employers across the country.
      %p Andy Hedges, Engineering Director at Tesco, said “Tesco has always been a place where colleagues can get on in their careers and fulfil their potential while being themselves. We are excited to be working closely with Makers and are looking forward to welcoming our new software developers to the team”.

%section.backgrounded
  .container
    %h3 About Makers Academy
    %p Makers Academy is the premier coding school based in Shoreditch, London. In 12 weeks the prestigious school will train students to become fully qualified software engineers. Makers has a successful track record for spotting and developing the talent of students from different backgrounds. Over 35% of its graduates have been women: two times higher than the industry average. In the past it has also developed its own fund to attract students from difficult backgrounds. To date, Makers Academy has turned over 1,000 people into junior software engineers and placed graduates with leading global brands such as Deloitte Digital, Sky and the Financial Times.


:javascript
  analytics.track('Viewed Employers Landing Page', {'Landing Page': 'Pr-270218'});
