#{$all-button-inputs},
.button, button {
  @include appearance(none);
  border: 2px solid $brand-secondary-color;
  color: $button-color;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: $button-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
  padding: modular-scale(-2) modular-scale(1);
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @include transition(all 0.2s ease-in-out);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    background: rgba($white, 0.4);
  }
}

.button--vertical {
  @extend button;
  color: $brand-primary-color;
  border-color: $brand-primary-color;
  &:hover {
    color: darken($brand-primary-color, 10%);
    border-color: darken($brand-primary-color, 10%);
  }
}

.button--horizontal {
  @extend button;
  color: $brand-secondary-color;
  border-color: $brand-secondary-color;
  &:hover {
    color: $brand-secondary-color;
    border-color: $brand-secondary-color;
  }
}

.button--apply {
  @extend button;
  color: darken($alt-font-color, 10%);
  background-color: darken($apply-button-color, 10%);
}

.button--alt {
  @extend button;
  color: $alt-button-color;
  border-color: $alt-button-color;
  background-color: transparent;
}

.button--large {
  @extend button;
  padding: modular-scale(0) modular-scale(2);
  border-width: 3px;
}
