#{$all-button-inputs},
.button, button {
  @include appearance(none);
  border: $base-border;
  @include ma-button-color($button-color);
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: 1;
  padding: modular_scale(-2) modular_scale(0);
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button--alt {
  @extend button;
  @include ma-button-color($alt-button-color);
}

.button--large {
  @extend button;
  @include ma-button-color($large-button-color);
  padding: modular_scale(0) modular_scale(2);
  border-width: 3px;
  border-radius: $base-border-radius * 4;
}
