// Hide content for mobile devices
@mixin ma-hide-mobile {
  @include media($mobile) {
    display: none;
  }
}

@mixin ma-row($display: block) {
  @include row($display);
  margin-bottom: $section-spacing;
  @if $display == table {
    vertical-align: middle;
  }
}

@mixin ma-container {
  @include clearfix;
  @include media($desktop) {
    @include outer-container;
  }
}

// Sets up a responsive grid for the number of $rows
// On mobile the columns will just all be inline
@mixin ma-columns($rows) {
  @include ma-row(table);
  .column {
    @include media($desktop) {
      @include span-columns($grid-columns / $rows);
    }
  }
}

// Generate linea arrow icon
@mixin ma-arrow-icon($arrow) {
  font-family: "linea-arrows-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $arrow;
}
