// Navigation is hidden unless on desktop for the moment
header.navigation {
  display: none;
  @include media($desktop) {
    display: block;
  }
  position: fixed;
  width: 100%;
  padding: ($navbar-height / 2) 0;
  top: 0;
  z-index: 999;
  background: transparentize($base-background-color, 0.2);
  border-bottom: $base-border;
  nav {
    @include outer_container;
    ul {
      float: right;
      li {
        display: inline;
        text-align: right;
        padding-right: $base-spacing;
        &.current a:after {
          content: "";
          position: absolute;
          left:0;
          right:0;
          bottom:-1 * modular-scale(-3);
          height: 2px;
          background: rgba($brand-secondary-color, 0.6);
        }
      }
      a {
        text-decoration: none;
        position: relative;
        &.button--apply {
          font-size: modular-scale(0);
        }
      }
    }
  }
}
