.centered-row {
  @include ma-row;
  text-align: center;
  img {
    @include ma-hide-mobile;
  }

  @include media($desktop) {
    img {
      margin: 0 5%;
    }
  }
}

.button-row {
  @include ma-row;
  .button {
    margin: 5%;
  }
}

.email-capture-row {
  @include ma-row;
  // TODO create form.alt stylings
  form {
    @extend form.alt;
    display: inline-block;
    input[type="email"] {
      border-right-width: 0;
      @include border-left-radius($base-border-radius);
      display: block;
      float: left;
      width: auto;
      margin: 0;
    }
    input[type="submit"] {
      @include border-left-radius(0);
      padding: 0.6em;
    }
  }
}

.profile-row {
  @include ma-row;
  .image {
    img {
      margin: 0 auto $base-spacing;
    }
    @include media($desktop) {
      @include span-columns(5);
      img {
        margin-bottom: 0;
      }
    }
  }
  .copy {
    padding-top: $base-spacing;
    @include media($desktop) {
      text-align: right;
      @include span-columns(7);
    }
  }
}

.two-width-row {
  @include ma-columns(2);
}

.three-width-row {
  @include ma-columns(3);
  .column {
    img {
      width: 70%;
      margin-bottom: modular-scale(1);
    }
  }
  @include media($desktop) {
    .column {
      img {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

.four-width-row {
  @include ma-columns(4);
}
