.centered-row {
  @include row;
  text-align: center;
}

.button-row {
  @include row;

  button {
    margin: 0 5%;
  }
}

.form-row {
  @include row;
  input {
    display: inline-block;
  }
}

.profile-row {
  @include row;

  .image {
    @include media($desktop) {
      @include span-columns(5);
    }
  }

  .copy {
    text-align: right;

    @include media($desktop) {
      @include span-columns(7);
    }
  }
}

.three-width-row {
  @include ma-columns(3);
}

.four-width-row {
  @include ma-columns(4);
}

