.centered-row {
  @include ma-row(table);
  text-align: center;
  img {
    @include ma-hide-mobile;
  }
  @include media($desktop) {
    img {
      margin-right: 5%;
      margin-left: 5%;
    }
  }
  .column {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }

  p {
    margin: 0 auto modular-scale(2);
    max-width: em(580);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.button-row {
  @include ma-row;
  .button, .button--horizontal, .button--vertical {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    &:nth-child(2n) {
      margin: 0 auto 1em auto;
    }
    &:last-child {
      margin-right: auto;
    }

    @include media($desktop) {
      display: inline-block;
      margin-bottom: 0 !important;

      /* margins for central CTAs only */
      margin-right: modular-scale(2);
      &:last-child {
        margin-right: 0;
      }

      &.button--large {
        &:nth-child(2n) {
          margin: 0 modular-scale(1);
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.email-capture-row {
  @include ma-row;
  form {
    @extend form.alt;
    @include clearfix;

    input {
      display: block;
      width: 80%;
      margin: 0 auto;
    }

    input[type="email"] {
      border-radius: $button-border-radius;
      margin-bottom: modular-scale(1);
    }

    input[type="submit"] {
      width: $base-button-width;
    }

    @include media($desktop) {
      text-align: center;
      display: inline-block;
      input {
        display: inline-block;
        float: left;
      }
      input[type="email"] {
        border-radius: 0;
        border-right-width: 0;
        @include border-left-radius($button-border-radius);
        padding-left: modular-scale(0);
        width: auto;
        margin: 0;
      }
      input[type="submit"] {
        @include border-left-radius(0);
        padding: $form-input-padding modular-scale(0);
      }
    }
  }
}

.profile-row {
  @include ma-row(table);
  margin-bottom: 0;
  .image {
    vertical-align: bottom;
    img {
      margin: 0 auto $base-spacing;
    }
    &.no-padding img {
      margin: 0 auto;
    }
    @include media($desktop) {
      @include span-columns(5);
      img {
        margin-bottom: 0;
      }
    }
  }
  .copy {
    vertical-align: middle;
    @include media($desktop) {
      text-align: right;
      @include span-columns(7);
    }
  }
  .copy--center {
    vertical-align: middle;
    text-align: left;
    @include media($desktop) {
      text-align: center;
      padding: 0 modular-scale(7);
    }
    h2.subheader {
      margin-bottom: 0 !important;
    }
  }
}

.two-width-row {
  @include ma-columns(2);
}

.three-width-row {
  @include ma-columns(3);
  .column {
    img {
      width: 70%;
      margin-bottom: modular-scale(1);
    }
  }
  @include media($desktop) {
    .column {
      img {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

.four-width-row {
  @include ma-columns(4);
}

.faq-row {
  display: inline-block;

  aside {
    @include media($desktop) {
      @include span-columns(4);
    }
  }

  .scroll-on-page-link {
    display: block;
    outline: none;
    padding: modular-scale(0) 0;
    

    &:last-child {
      margin-bottom: $base-spacing;
    }

    @include media($desktop) {
      text-align: right;
      margin-right: $base-spacing;
    }
  }

  article {
    h4 {
      margin: 0 0 0.5em 0;
      text-align: left;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .question p:last-of-type {
      margin-bottom: 2em;
      text-align: left;
      h4 {
        text-align: left;
      }
    }

    @include media($large-screen) {
      @include span-columns(8);
    }
  }
}

.image-grid-row {
  @include ma-row;
  img {
    margin-right: 0 !important;
    @include span-columns(4);
    padding: modular-scale(1);
    &:nth-child(3n) {
      padding-right: 0;
    }
    &:nth-child(3n + 1) {
      padding-left: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }
}
