table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

thead {
  th {
    text-align: center;
  }
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  font-size: 0.95em;
  vertical-align: top;
  padding-right: 0.5em;

  td:nth-of-type(2n) {
    border-left: $base-border;
    padding-left: 0.5em;
  }
  &:last-of-type td {
    border-bottom: none;
  }

  @include media($desktop) {
    font-size: modular-scale(0);
    vertical-align: middle;
    padding-right: none;

    td:nth-of-type(2n) {
      border-left: none;
      padding-left: none;
    }
    &:last-of-type td {
      border-bottom: $base-border;
    }
  }
}
