table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

thead {
  th {
    text-align: center;
  }
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  font-size: 0.95em;
  vertical-align: top;
  padding-right: 0.5em;

  td:nth-of-type(2n) {
    border-left: $base-border;
    padding-left: 0.5em;
  }
  &:last-of-type td {
    border-bottom: none;
  }

  @include media($desktop) {
    font-size: modular-scale(0);
    vertical-align: middle;
    padding-right: none;

    td:nth-of-type(2n) {
      border-left: none;
      padding-left: none;
    }
    &:last-of-type td {
      border-bottom: $base-border;
    }
  }
}

table.responsive-table {
  @include media($mobile) {
    thead {
      display: none;
    }
    tbody {
      tr {
        position: relative;
      }
      th {
        display: block;
      }
      td {
        &:nth-of-type(2n) {
          padding-left: 0;
        }
        width: 100%;
        float: right;
        border: none;
        line-height: modular-scale(2);
        text-align: right;
        &:before {
          font-weight: 500;
          content: attr(data-header) ":";
          display: block;
          float: left;
          text-align:left;
          padding-right: modular-scale(1);
          left: 0;
          line-height: modular-scale(2);
        }
      }
    }
    tr.no-respond {
      td {
        text-align: center;
        &:before {
          display: none;
        }
      }
    }
  }
}
