// Typography
$futura: "futura-pt", Futura, $helvetica;
$base-font-family: $futura;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 18px;
$h1-font-size: modular-scale(4);
$h2-font-size: modular-scale(3);
$h3-font-size: modular-scale(2);
$h4-font-size: modular-scale(1);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: modular-scale(3);
$small-spacing: modular-scale(-2);
$base-z-index: 0;

// Colors
// palette from http://bit.ly/1dwLGKe
// note all alt-colors are designed to show on a blue background
$white: #FFFFFF;
$light-gray: #ddd;
$medium-gray: #999;
$dark-gray: #333;
$black: #000;
$navy: #062533;
$sea-blue: #00333F;
$off-white: #EFF7F2;
$red: #AA1925;

$brand-primary-color: $red;
$brand-secondary-color: $black;

// Font Colors
$base-background-color: $white;
$alt-background-color: $sea-blue;
$base-font-color: $dark-gray;
$alt-font-color: $white;
$action-color: lighten($sea-blue, 0.1);

// Border
$base-border-color: $light-gray;
$alt-border-color: $white;
$base-border-width: 2px;
$base-border: $base-border-width solid $base-border-color;
$base-border-radius: 0.2em;

// Forms
$form-box-shadow: none;
$form-box-shadow-focus: none;

// Breakpoints
$small-screen: em(480);
$medium-screen: em(640);
$large-screen: em(860);

$mobile: new-breakpoint(max-width $small-screen);
$desktop: new-breakpoint(min-width $large-screen);

// Navigation
$navbar-height: modular-scale(0);

// Icons
$left-arrow: "\e03f";
$right-arrow: "\e04b";

// Buttons
$button-color: $brand-primary-color;
$apply-button-color: $brand-primary-color; // Filled in button
$alt-button-color: $alt-font-color;
$button-border-radius: $base-border-radius * 4;

// Layout
$section-spacing: modular-scale(4);
