%section.hero--apply{style: "background-image: url(#{image_path("backgrounds/postit-wall.jpg")});"}
  .container
    .centered-row
      .column
        %h2 Apply Now
        %p The full 16-week programme costs £8,000 but is free to the winners of the ThoughtWorks Scholarship. Scholars will need to commit full-time to the course from either 15th August 2016 or 26th September 2016.
    .button-row
      %p
        = link_to "Payment Options", "/payment.html", class: "button button--horizontal"
        = link_to "Apply", config.onsite_application_form_url, class: "button button--vertical button--large apply-button", data: {track: "Clicked Apply Page Button"}
        = link_to "Learn More", "/about-us.html", class: "button button--horizontal"
    .centered-row
      .column
        %p
          Want to sponsor a place? Get in touch: 
          %a{ href:"mailto:arfah@makersacademy.com" } arfah@makersacademy.com
