%section
  .container
    .centered-row
      %h2.margin-bottom Onsite or Remote?
    .centered-row
      %table
        %thead
          %tr
            %td.table-header-image{ style: "background-image: url(#{image_path("logo/ma-wordmark-red.png")});"}
            %td.table-header-image{ style: "background-image: url(#{image_path("logo/ronin-wordmark-red.png")});"}
        %tbody
          %tr
            %td 
              %h3.no-margin-bottom £#{stats.onsite_cost}
            %td 
              %h3.no-margin-bottom £#{stats.remote_cost}
          %tr
            %td Learning cutting edge coding techniques such as agile &amp; TDD
            %td Learning cutting edge coding techniques such as agile &amp; TDD
          %tr
            %td Located at the heart of Silicon Roundabout with a big work space
            %td Located at the heart of Silicon Roundabout with a big work space
          %tr
            %td Job support &ndash; our service isn't complete until you're hired
            %td Job support &ndash; our service isn't complete until you're hired
          %tr
            %td Community of learners &ndash; because it's easier when you aren't alone
            %td Community of learners &ndash; because it's easier when you aren't alone
          %tr
            %td Macbook Pro with Retina Display &amp; 24" display for the duration of the course
            %td Macbook Pro with Retina Display &amp; 24" display for the duration of the course
          %tr
            %td Our space is open from 8.30am &ndash; 9.00pm, Mon &ndash; Fri
            %td Our space is open from 8.30am &ndash; 9.00pm, Mon &ndash; Fri
          %tr
            %td Access to speakers, events and meetups in the office
            %td Access to speakers, events and meetups in the office
          %tr
            %td Breakfast, coffee and snacks
            %td Breakfast, coffee and snacks
