- comparisons ||= :comparisons
%section
  .container.margin-bottom
    .centered-row
      %h2.margin-bottom About the course

  = partial :"partials/comparison_table_mobile", locals: { comparisons: comparisons }
  .container
    = partial :"partials/comparison_table", locals: { comparisons: comparisons }
