%section
  .container
    .centered-row
      %h2 Remote or Onsite?
    .centered-row
      %table
        %thead
          %tr
            %td Ronin
            %td Makers Academy
        %tbody
          %tr
            %td £2,400
            %td £8,000
          %tr
            %td Learning cutting edge coding techniques such as agile &amp; TDD
            %td Learning cutting edge coding techniques such as agile &amp; TDD
          %tr
            %td Located at the heart of Silicon Roundabout with a big work space
            %td Located at the heart of Silicon Roundabout with a big work space
          %tr
            %td Job support &ndash; our service isn't complete until you're hired
            %td Job support &ndash; our service isn't complete until you're hired
          %tr
            %td Community of learners &ndash; because it's easier when you aren't alone
            %td Community of learners &ndash; because it's easier when you aren't alone
          %tr
            %td Macbook Pro with Retina Display &amp; 24" display for the duration of the course
            %td Macbook Pro with Retina Display &amp; 24" display for the duration of the course
          %tr
            %td Our space is open from 8.30am &ndash; 9.00pm, Mon &ndash; Fri
            %td Our space is open from 8.30am &ndash; 9.00pm, Mon &ndash; Fri
          %tr
            %td Access to speakers, events and meetups in the office
            %td Access to speakers, events and meetups in the office
          %tr
            %td Breakfast, coffee and snacks
            %td Breakfast, coffee and snacks
