%section
  .container
    .centered-row
      %h2.margin-bottom Onsite or Remote?
    .centered-row
      %table
        %thead
          %tr
            %td.table-header-image{ style: "background-image: url(#{image_path("logo/ma-wordmark-red.png")});"}
            %td.table-header-image{ style: "background-image: url(#{image_path("logo/ronin-wordmark-red.png")});"}
        %tbody
          %tr
            %td
              %h3.no-margin-bottom £#{stats.onsite_cost}
            %td
              %h3.no-margin-bottom £#{stats.remote_cost}
          %tr
            %td Learning cutting edge coding techniques such as agile &amp; TDD
            %td Learning cutting edge coding techniques such as agile &amp; TDD
          %tr
            %td Located at the heart of Tech City with a big work space
            %td Located from the comfort of your own home
          %tr
            %td Job support &ndash; our service isn't complete until you're hired
            %td Job support – Hiring network support, and encouragement to go to meetups
          %tr
            %td Community of learners &ndash; because it's easier when you aren't alone
            %td Community of other remote learners – because it's easier when you're not alone
          %tr
            %td £800 Deposit
            %td £500 Deposit
          %tr
            %td £500 Womens Discount as you are highly underrepresented in the tech community.
            %td
          %tr
            %td Macbook Pro with Retina Display &amp; 24" display for the duration of the course
            %td
          %tr
            %td Our space is open from 8.30am &ndash; 9.00pm, Mon &ndash; Fri
            %td
          %tr
            %td Access to speakers, events and meetups in the office
            %td
          %tr
            %td Breakfast, coffee and snacks
            %td
