%section.hero
  .container
    .centered-row
      %h2 Course Dates
    .centered-row
      %table.responsive-table
        %thead
          %tr
            %th PreCourse Start
            %th Onsite Start
            %th Jobhunting Start
        %tbody
          - Intake.future_dates.take(5).each do |intake|
            %tr
              %td{data:{header: "Pre-course Start"}}= intake.precourse_start_date.strftime("%-d %B %Y")
              %td{data:{header: "Course Start"}}= intake.start_date.strftime("%-d %B %Y")
              %td{data:{header: "Hiring Begins"}}= intake.end_date.strftime("%-d %B %Y")


    %p
      Note: For the Dec 2017 Cohort (PreCourse start 20 Nov 2017) we’ll be
      = link_to "piloting", "https://blog.makersacademy.com/new-version-of-the-course-being-piloted-this-december-apply-now-af9ca61dd1d"
      the new & improved curriculum.
