<p class='deprecated-browser-warning'>
Hey! It looks like you're using an old browser - here at Makers Academy we are always looking to use the most cutting-edge features the web offers
and unfortunately your browser doesn't allow us to do this. We know you can't always switch, but we strongly recommend using the latest versions of <a href='https://www.mozilla.org/en-GB/firefox/new/'>Mozilla Firefox</a> or <a href='http://www.google.com/chrome/'>Google Chrome</a>.
</p>
