.email-capture-row
  %form.email-capture{action: "http://makersacademy.us7.list-manage.com/subscribe/post?u=a722285ec7b8bdcbc37dbdc52&id=d09e759a82", method: "post", name: "mc-embedded-subscribe-form"}
    %label{for: "mailchimp-email"}
    %input{type: "email", id: "mailchimp-email", placeholder: "Your Email Address", required: true}
    %input{type: "submit", value: "Stay Informed"}
