%section
  .container
    .centered-row
      %h4.leader Frequently-Asked
      %h2 Questions
    .definition-row
      %aside#definition-top
        %nav.definition-links
          - data.faqs.each do |category|
            %a.definition-link{href: "#definition-#{slug(category[:category_name])}"}= category[:category_name]
      %article
        - data.faqs.each do |category|
          .category
            %h4{id: "definition-#{slug(category[:category_name])}"}= category[:category_name]
            - category[:faqs].each do |faq|
              %dl.definition{id: slug(faq[:question])}
                %dt= faq[:question]
                %dd= markdown faq[:answer]
