%section
  .container
    .centered-row
      %h2 Frequently-Asked Questions
    .faq-row
      %aside#faq-top
        %nav.faq-links
          - data.faqs.each_with_index do |category, index|
            %a.faq-link{href: "#faq-category-#{index}"}= category[:category_name]
      %article
        - data.faqs.each_with_index do |category, index|
          .category
            %h3.subheader{id: "faq-category-#{index}"}= category[:category_name]
            - category[:faqs].each do |faq|
              %dl.faq{id: slug(faq[:question])}
                %dt= faq[:question]
                %dd= markdown faq[:answer]
