%section.hero{style: "background-image: url(#{image_path("backgrounds/newrow-of-women.jpg")});"}
  .container
    .centered-row
      %h4.leader Are you looking to
      %h2 Hire Software Engineers?
      %p If you're an employer looking to hire quality junior developer talent, we can help. We supply software engineers to 300+ UK companies.
    .button-row
      = link_to "Hire a Maker", "http://bit.ly/2vBjC2p", class: "button button--horizontal button--large"
