.container--narrow
  .two-width-row.two-width-row--always
    .column
      %h4.leader Onsite
      %img.image--centered.image--almost-medium.image--small-mobile{ src: image_path('logo/ma-brandmark.png') }
      %h4.subtitle At our London Campus
    .column
      %h4.leader Remote
      %img.image--centered.image--almost-medium.image--small-mobile{ src: image_path('logo/ronin-brandmark.png') }
      %h4.subtitle From Wherever You Are