/ Twitter Card data
%meta{content: "Makers Academy - Become a software developer in 12 weeks. Highly selective coding bootcamp.", name: "twitter:card"}
%meta{content: "@makersacademy", name: "twitter:site"}
%meta{content: "Makers Academy - Learn to Code", name: "twitter:title"}
%meta{content: "Makers Academy is a highly selective bootcamp for learning to code and become a software developer.", name: "twitter:description"}
%meta{content: "@makersacademy", name: "twitter:creator"}
/ Twitter Summary card images must be at least 120x120px8
%meta{content: "https://pbs.twimg.com/profile_images/3087236754/91e379b7e0006d38ee0526946a38a1ea_400x400.png", name: "twitter:image"}
/ Open Graph data
%meta{content: "Makers Academy - Become a software developer in 12 weeks. Highly selective coding bootcamp.", property: "og:title"}/
%meta{content: "article", property: "og:type"}/
%meta{content: "http://www.makersacademy.com", property: "og:url"}/
%meta{content: "http://assets.makersacademy.com/images/logo/logo-makers-academy-square", property: "og:image"}/
%meta{content: "Makers Academy is a highly selective bootcamp for learning to code and become a software developer.", property: "og:description"}/
%meta{content: "Makers Academy", property: "og:site_name"}/
%meta{content: "100005981881605", property: "fb:admins"}/
