.hero {
  padding: modular-scale(4) modular-scale(0);
  color: $alt-font-color;
  background-color: $alt-background-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    margin-bottom: modular-scale(2);
  }

  h1 {
    margin-bottom: 0.5em;
    color: inherit;
  }

  p {
    font-size: modular-scale(1);
  }

  .button--alt, .button {
    border-color: $alt-font-color;
    font-size: modular-scale(-1);
    margin: 0 modular-scale(2);
  }
}

.hero-splash {
  @extend .hero;

  @include media($desktop) {
    padding: modular-scale(9) modular-scale(1);
  }
}
