.hero {
  padding: modular-scale(2) modular-scale(0);
  color: $alt-font-color;
  background-color: $alt-background-color;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /*padding: modular-scale(8) modular-scale(1);*/

  .logo {
    margin-bottom: modular-scale(2);
  }

  h1 {
    margin-bottom: modular-scale(-1);
  }

  p {
    font-size: modular-scale(1);
    margin-bottom: modular-scale(2);
    max-width: em(450);
    display: inline-block;
  }
}
