.hero {
  @extend .backgrounded;
  display: table;
  text-align: center;
  width: 100%;
  @include media($desktop) {
    img {
      margin-top: modular-scale(2);
    }
    p {
      font-size: modular-scale(1);
      line-height: $large-line-height;
    }
  }

  .logo {
    margin-bottom: modular-scale(2);
  }
  h1 {
    margin-bottom: 0.5em;
  }
}

.hero-splash {
  @extend .hero;
  padding-left: 0;
  padding-right: 0;
  @include media($desktop) {
    padding: modular-scale(8) 0;
  }
}

.hero-small {
  @extend .hero;
  @include media($desktop) {
    padding: modular-scale(5) modular-scale(1);
  }
}

.hero--apply {
  @extend .hero;
  min-height: 61.8vh;
  padding: 0;
  .container {
    min-height: 61.8vh;
    display: table-cell;
    vertical-align: middle;
    padding: $section-spacing modular-scale(1);
  }
  @include media($desktop) {
    padding: $section-spacing $base-spacing;
  }
}
