%section.article--centered
  %article
    %p.type Article Type
    %h1 Article Heading
    %h2.subheader
      These override some of the styles specified in the
      %code _variables.scss
      and
      %code _typography.scss
      partials in
      = succeed "." do
        %a{:href => "//bitters.bourbon.io"} Bitters
      = succeed "." do
        %code .type-system-name
    %p.date 30 Mar 2014
    %p
      %span> Lorem ipsum dolor sit amet
      , consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
      %a.read-more{:href => "javascript:void(0)"}
        Read More
    %h3 Subheading lorem
    %p
      %span Consequatur ullam, voluptatum
      incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.
    %hr/
    %p.author Author Name

    %hr/