%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      = image_tag "logo/ma-white.png", class: "logo"
      %h1 Learn to code in 12 weeks
      %p= lorem.sentences(5)
    = partial :"email-capture", locals: { button_text: "Custom Text", segments: "Entrepreneurs" }
