%section
  .container
    .slider-row
      .slider
        .profile-row
          .image
            = image_tag "graduates/paul-smith.png"
          .copy
            %h1 Paul Fitzgerald
            %h2.subheader Marketing Executive to Junior Developer
            %blockquote I love Makers - they are a really nice bunch of chaps. They also play a mean game of Jenga, not to mention the Karaoke talent is formidable.
            .button-row
              %p
                %a.button Read more
                %a.button Read blog
        .profile-row
          .image
            = image_tag "graduates/paul-smith.png"
          .copy
            %h1 Dave Smith
            %h2.subheader Friend to all
            %blockquote I love Makers - they are a really nice bunch of chaps
            .button-row
              %p
                %a.button Read more
                %a.button Read blog