%section.no-padding-bottom
  .centered-row
    %h2 Bigger
    %h4.subheader Groups of smaller components
  .definition-row
    %aside#definition-top
      %nav.definition-links
        %a.definition-link{href: "#definition-horizontal-tabs"} Horizontal Tabs
        %a.definition-link{href: "#definition-vertical-tabs"} Vertical Tabs
    %article
      .category
        %h4 Horizontal Tabs
        %dl.definition{id: "definition-horizontal-tabs"}
          %dt Tabbed horizontal content
          %dd= partial :"elements/element", locals: { partial_name: "elements/bigger/_tabs" }
      .category
        %h4 Vertical Tabs
        %dl.definition{id: "definition-vertical-tabs"}
          %dt Tabbed vertical content
          %dd= partial :"elements/element", locals: { partial_name: "elements/bigger/_vertical_tabs" }