<!-- BEGIN <%= partial_name %> -->

<section class="element">
  <ul class="tabs">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active">Live</a>
      <div class="tab-content">
        <%= partial partial_name %>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link tab-link--code">Code</a>
      <div class="tab-content tab-content--code">
        <pre>
          <div>
            <%= (raw "#{partial_name}.html.haml").strip %>
          </div>
        </pre>
      </div>
    </li>
  </ul>
</section>

<!-- END <%= partial_name %> -->
