%section
  .centered-row
    %h2 Forms
    %h4.subheader Send data from the Client to the Server via the Internet. Magic, isn't it?
  .definition-row
    %aside#definition-top
      %nav.definition-links
        %a.definition-link{href: "#definition-form"} Forms
    %article
      .category
        %h4 Forms
        %dl.definition{id: "definition-forms"}
          %dt Look Mum, forms!
          %dd= partial :"elements/forms/forms"