%section
  .centered-row
    %h2 Tables
    %h4.subheader Displaying two-dimensional data with extra cool responsiveness
  .definition-row
    %aside#definition-top
      %nav.definition-links
        %a.definition-link{href: "#definition-table"} Responsive Table
    %article
      .category
        %h4 Responsive Table
        %dl.definition{id: "definition-table"}
          %dt Check it out in mobile view to see what happens.
          %dd= partial :"elements/tables/tables"