/ Case Study Template

%section.no-padding-bottom
  .container
    .profile-row
      .image
        = image_tag("graduates/nicole.jpg")
      .copy
        %h1 Nicole Pellicena
        %h4.subheader Marketing Manager to Junior Developer at Deloitte Digital
        %blockquote The three words to describe Makers Academy are crazy, intense and awesome.

%section.backgrounded
  .article--centered
    %article
      %dl
        %dt What were you doing before joining Makers Academy?
        %dd
          %p I was managing the marketing functions for a legal recruitment company.

        %dt What made you want to start learning to code in the first place?
        %dd
          %p I always wanted to learn to code and I kept doing the marketing thing but realised I still wanted to learn to code. I was speaking to a friend who connected me to Nikesh who was doing the course at the time and that convinced me.

        %dt How did you come across MA and what made you decide to apply?
        %dd
          %p I knew Nikesh who was doing the course at the time so I applied to both GA and Makers Academy but the actual interview process for Makers convinced me that Makers was the better choice. It gave me an insight into the course and I liked the atmosphere and vibe. I read a lot of blogs from students and that all convinced me.

        %dt What Cohort were you?
        %dd
          %p September 2014

        %dt What did you find difficult during the course?
        %dd
          %p The intensity of the course is difficult and it’s relentless. There are so many moments where you think you are stupid but you have no choice but to keep going at it until you get it.

        %dt What happened during / after graduation and where are you job wise?
        %dd
          %p I was an alumni helper for a few months. I worked on a couple of paid freelance projects while job hunting and kept learning. I now have a job at Deloitte Digital.

        %dt Where are you now working?
        %dd
          %p Deloitte Digital

        %dt How has your life changed since graduation?
        %dd
          %p My life has changed completely because in real terms my career has completely changed and I’ve got a great group of friends that came out of Makers. Doing the course hits your confidence but weirdly makes you much more confident.

        %dt What advice would you give to people thinking of changing career?
        %dd
          %p Make sure you do your research and you’ve given yourself and make sure you budget so you can take time to pick your dream job but at the same time don’t over think it and overthink the choice.

        %dt What would you say to people who say £8000 is very expensive?
        %dd
          %p It is expensive but I don’t regret a single pound I spent as it has made so many things possible for me. I know if I tried to do it on my own I would not have got there quickly and position that I am in now. A big thing that is underestimate is the network that also comes out of Makers Academy as well.

        %dt What was your biggest worry before joining Makers Academy and how do you feel about it now?
        %dd
          %p I left an 8 year career so it kept crossing my mind if I was making a big mistake to start all over again. I’m so happy with my decision. It was risky but worth it.

        %dt Sum up your Makers Academy experience
        %dd
          %p Probably the best experience of my life!
        Crazy. Intense. Awesome.

        %dt Any other advice about interviewing for a dev role for all our graduates?
        %dd
          %p Get yourself out there as soon as possible so you start to practice your interview skills and confidence in a new world for you.

= partial :"partials/apply"

