@charset "UTF-8";

@font-face {
  font-family: "linea-arrows-10";
  src:url("http://assets.makersacademy.com/fonts/linea-arrows-10.eot");
  src:url("http://assets.makersacademy.com/fonts/linea-arrows-10.eot?#iefix") format("embedded-opentype"),
    url("http://assets.makersacademy.com/fonts/linea-arrows-10.woff") format("woff"),
    url("http://assets.makersacademy.com/fonts/linea-arrows-10.ttf") format("truetype"),
    url("http://assets.makersacademy.com/fonts/linea-arrows-10.svg#linea-arrows-10") format("svg");
  font-weight: normal;
  font-style: normal;

}
