- @hide_from_google = true

:javascript
  // Take the values stored by employers_forms.js from localStorage
  // We have to store them before submitting the form
  // as otherwise we don't always get time to submit the analytics data before the form submits
  var properties = JSON.parse(window.localStorage.getItem("employerAnalyticsProperties"));

  if (properties) {
    analytics.alias(properties.email);
    analytics.identify(properties.email, properties);
    window.localStorage.removeItem("employerAnalyticsProperties");
  }

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/riz-and-tom.jpg")});"}
  .container
    .centered-row
      .logo
        %a{href: "http://www.makersacademy.com"}
          %img{src: image_path("logo/ma-white.png"), class: "logo"}
      %h1 Thank you!
      %p You'll hear from someone from our team in the next few days.
