%section
  .container
    %h1#tables Tables
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %th Table Header 1
        %th Table Header 2
        %th Table Header 3
      %tr
        %td Division 1
        %td Division 2
        %td Division 3
      %tr.even
        %td Division 1
        %td Division 2
        %td Division 3
      %tr
        %td Division 1
        %td Division 2
        %td Division 3