- description "Makers Academy is a fully immersive, full-time computer programming bootcamp, designed to turn people with no knowledge of web-development into job-ready junior developers in just 12 weeks. We’re Europe’s #1 Developer Bootcamp, running new classes of 25-35 students every 4 weeks"
- title "About Us"

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/team1.jpg")});"}

  .container
    .centered-row
      %h2 Our Team
      %p Our mission is to teach as many people as possible to create amazing products using beautiful code. Since we started in early 2013, we’ve grown from two people to a team of twenty. We are not just colleagues: we’re a family. The Makers Academy team is a diverse bunch who work hard and play hard.
      .button-row
        =link_to "Meet the Team", "/team.html", class: "button button--horizontal"
        =link_to "Join Us", "https://makers-academy.breezy.hr", class: "button button--horizontal"

%section.article--centered
  %article
    %h3 Our Story
    %p
      %span Makers Academy was founded by Evgeny Shadchnev and Rob Johnson when they met at Forward labs.
      Evgeny was a classically trained software developer and as he was trying to build out his team he discovered a lack of qualified developers on the market. At the same time, Rob had been teaching himself to program through a book on Objective C and it took him 9 months and 30 hours a week to get through it. A conversation between the two made them realise that while computer science programs were good at drilling students with theory, they were training people to become computer science professors instead of programmers, and something had to be done.
    %p About 4 months after that conversation they started their first cohort ‐ in February 2013 - creating Makers Academy - an alternative to university and a vocational route into a job as a web developer, allowing people to switch careers and learn to code in 3 hyper-intensive months in London. Before we knew it, forcing people to move to London in order to learn to code felt far too limiting, so in February 2015 we launched Makers Academy Remote, codenamed 'Ronin': a course that leverages everything we've learned at Makers Academy to help people all over the world learn to code - from the comfort of their own home.
    %p
      Makers Academy has now been going for over 3 years and has graduated over #{stats.number_of_graduates} students. Learn more on our
      =link_to "blog", "https://blog.makersacademy.com", target: "_blank"
      about how the company has grown.


%section.backgrounded
  %article
    %h3 Looking for our FAQs?
    %p They've moved!
    .button-row.centered
      =link_to "Help Centre", "http://help.makersacademy.com", class: "button button--horizontal"

= partial :"primary_call_to_action", locals: {about_us: true}
