- description "Hire the top junior developers from Makers Academy."
- title "Employers"

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/circle.jpg")});"}
  .container
    .centered-row
      %h4.leader Learn to code
      %h1 Become a Developer
      %p.lead With the largest Career Support team of any UK bootcamp, we guarantee you a job offer within 6 months, or your money back. We're highly-selective about our Hiring Partners – no temp jobs or internships. Over 1,400 developers have started their careers with over 300 companies.
    = partial 'logos_grid', locals: { companies: data.static.homepage_grid_companies }

%section
  .container
    .centered-row
      %h2 The fastest route
      %h4.subheader into the tech industry
      %p.lead Upskill and transition into a new career in 16 weeks.
    .three-width-row
      .column
        %h4.leader Average Salary
        %h2 £30-35k
        %p Over the past five years, our historic average starting salary is £32k. Makers developers typically earn above £40k one year later.
      .column
        %h4.leader Average Days Jobhunting
        %h2 40
        %p 1:1 Career Support coaching and frequent, well-attended Career Fairs get you introduced and accepted with the right company, fast.
      .column
        %h4.leader Hiring Partners
        %h2 300+
        %p We're incredibly selective about our Hiring Partners: progressive organisations at the cutting-edge of digital innovation.

%section.backgrounded{style: "background-image: url(#{image_path("backgrounds/circle-of-students.jpg")});"}
  .container
    .centered-row
      %h4.leader Get
      %h2 Introduced
      %p.lead Every four weeks, we run a Careers Fair. On average, 15 selected Hiring Partners attend, with between 20 and 40 roles available.
      .container
        .video-row
          .video-wrapper
            %iframe{src: "https://www.youtube.com/embed/SrKt9HYS92o", frameborder: 0, allowfullscreen: true}

%section
  .container
    %h2 Campus Tour
    %p.lead We run campus tours in the heart of Shoreditch every Tuesday, Wednesday and Thursday at 11am with limited places available.
    %iframe.padding-top{src: "//eventbrite.co.uk/tickets-external?eid=44451951985&ref=website", frameborder: 0, height: "375", width: "100%", allowfullscreen: true}

%section.backgrounded
  .container
    %blockquote Makers enabled me to change my life. I wanted to do something which I was passionate about, so I made the scary decision to change careers and pursue software development. I now work at one of the hottest tech startups and work with some of the most brilliant and talented people - building amazing solutions, learning at an accelerated pace and I love I what do. I never thought I would actually say that I look forward to going work. - Costas, Software Engineer

:javascript
  analytics.track('Viewed Onsite Landing Page', {'Landing Page': 'career-support-2018'});
