- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 "Hello World"
      %h4.subheader A Documentary about learning to code
      %h4.subheader Sign up to our newsletter to keep updated about the documentary release.
      %p Look behind the curtains at Europe’s #1 Web Developer bootcamp. "Hello World" explores the journeys taken by a group of ambitious students intent on learning to code in an intensive environment, as well as examining the challenges faced by the startup’s staff and coaches whose mission is to turn the educational industry on its head. The documentary will focus on the human side of becoming a programmer in just a few short months, the challenges of running a startup and the emotional journeys taken by its ensemble of characters.
    = partial :"email-capture", locals: { button_text: "Stay Informed" }

%section.hero
  .container
    .video-row
      .video-wrapper
        %iframe{src: "http://www.youtube.com/embed/-g3T8fbeR9g", frameborder: 0, allowfullscreen: true}

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 "Hello World"
      %h4.subheader Tell me when it's out
    = partial :"email-capture"


/ Mixpanel event for landing pages
:javascript
  mixpanel.track('Viewed Landing Page', {'Landing Page': 'documentary'});
  mixpanel.people.set({'Category': 'documentary'});
