- description "Hire the top junior developers from Makers Academy."
- title "Employer FAQs"

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/pointingscreen.jpg")});"}
  .container
    .centered-row
      %h4.leader Frequently Asked
      %h1 Questions
      %h4.subheader For curious employers

= partial :"_employer_faqs"
%hr
= partial :"_employer_testimonials"