- description "Makers Academy is London's leading Web Developer Bootcamp."
- title "Feedback"


%section.typeform
  .typeform-widget{style: "height:980px;", "data-text" => "Feedback Form", "data-url" => "https://makersacademy.typeform.com/to/bWYnYb"}

:javascript
  (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})();

/ Analytics event for landing pages
:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'Feedback'});
  analytics.identify({'Feedback': true});
