- description "Makers Academy is London's leading Web Developer Bootcamp. Apply for our Web Development Fellowship"
- title "Makers Academy Web Development Fellowships"

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/women.jpg")});"}
  .container
    .centered-row
      %h4.subheader Start a new career as a software developer
      %h1 Web Development Fellowship
      %p Applications are currently closed for our Fellowship. If you're still interested in joining our course, hit the button below.
      = link_to "Apply", config[:onsite_application_form_url], class: "button button--vertical apply-button", data: {track: "Clicked Apply Page Button"}


%section
  .container
    .centered-row
    .two-width-row.row-with-borders
      .column
        %h3 No Fees
        %p We’re so confident in you, we’re offering our Fellows a spot on our £8,000 course for nothing.
      .column
        %h3 Jobs
        %p Once you've passed our stringent interview, everyone who successfully completes our course can be employed by Makers to work for our clients.

%section.backgrounded
  .article--centered
    %article
      %h3 How can you prepare?
      %p Our first round of applications let us see the true talent that is out there. We're raising the bar for the next batch and looking for the creme de la creme.
      %p Start coding and become friends with Ruby. This is our language of choice and we'll be using that to code. Here's an ebook to get you started.
    = link_to "Start Coding", "https://docsend.com/view/syex8vm", class: "button button--vertical apply-button"

%section
  .article--centered
    %article
      %h3 Why do this?
      %p As we approach our 5th birthday, and circle our 1500th student, it’s time to start putting our money where our collective mouth is. We’re big believers in doing our bit to improve the diversity of the tech community, but that can sometimes feel a little bit hollow when the course is only accessible to those with £8,000 to spare.
      %p In reality, there are lots of smart people out there who don’t have £8,000 lying around. To all of those people we say - APPLY NOW, we believe in you! You have greatness within you... Money should never be a barrier to achieving your dreams.

%section.backgrounded
  %h3 Previous Fellowships
  .container
    .video-row
      .video-wrapper
        %iframe{src: "https://www.youtube.com/embed/Wa-IE3MzxGc", frameborder: 0, allowfullscreen: true}

%section
  .article--centered
    %article
      %h3 Working at Makers
      %p When the Fellows become Makers Developers, we will aim to place them with some of our amazing clients throughout the country, providing them with an immense opportunity to build software. We shall be contracting them out with our partners to be working as software engineers.
      %p These could be short projects (1-4 weeks) or more likely longer term projects (3-12 months). We expect work to be in and around London, but Developers should be prepared to travel for assignments around the UK. The roles will likely be in the home counties.


/ Analytics for landing page
:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'fellowship'}), {'nonInteraction': 1})
