- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h2 Learn to code in 12 weeks
      %h4.subheader Competition is now closed
      %p  Makers Academy is Europe’s leading Web Developer bootcamp. Mattessons Fridge Raiders sponsored one lucky person to do the course for free! Unfortunately the competition is now closed.
      %p If you are still interested in becoming a developer, feel free to submit an application and explore the website! Sign up to newsletter to receive a free Learn Ruby in 15 minutes e-book.
    = partial :"partials/email-capture", locals: { button_text: "Send my e-book", segments: "website-fridge-lr15" }


:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'Fridgeraiders'});
  analytics.identify({'Fridgeraiders': true});
