- description "Makers Academy Job Guarantee Terms and Conditions"
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-overhead-discussion.jpg")});"}
  .container
    .centered-row
      %h4.leader Makers Academy
      %h1 Job Guarantee Terms
%section.article--centered
  %article
    %p Everybody deserves a job they love. We’re confident that if you are accepted at Makers Academy, complete your training and put a genuine effort into looking for a job, you will be successful. Hence we’re offering our students a job offer guarantee, which means that you will be refunded in full if you don’t get an offer of a software development job after the course. This document describes how it works.

    %h3 What is a job offer?

    %p We will refund you if, having put a genuine effort in job-hunting (see next section), you don’t get an offer for a job that is:

    %ul
      %li expecting you to spend most of your time building software
      %li expecting you to work at least 25 hours a week
      %li permanent or, if fixed-term, of at least 6 months in duration

    %p Internships, short-term contracts, p/t contracts under 25 hours, jobs that don’t involve you spending most of your time writing code don’t count.

    %h3 What does it mean to job hunt

    %p We can only offer you a job offer guarantee if you put a genuine effort into looking for a job (in the UK):

    %ul
      %li Attending Makers Academy Career Fair every 4 weeks (or as held by MA)
      %li Coding while looking for a job – at least 5 public, meaningful commits a week on Github
      %li Maintaining a satisfactory Github CV, as recommended by our Careers team
      %li Applying for at least 5 junior software developer jobs every week
      %li Checking in at least weekly with your Career Coach at MA
      %li Responding to slack / email messages from the MA team within 2 days
      %li Turning up for interviews arranged by our Careers team on time
      %li Blogging every 2 weeks about software development (Careers team can help with ideas if you get stuck)

    %p If you keep looking for a job for 6 months, and can’t get a great offer (see previous section), we’ll refund what you paid us in full.

    %p You’re expected to start job-hunting immediately after leaving the course. If you need to take a short break after the course, or if you need to stop job-hunting for a while because external circumstances stop you (e.g. an illness), you’ll need an authorisation of our Careers team, which will not be unreasonably withheld.

    %p In some cases, the Careers team may advise you to further work on some aspects of your skills instead of applying for jobs. In this case, not applying for jobs while you’re continuing learning following written advice of the Careers team, won’t invalidate this job offer guarantee.

    %p You may choose to get a temporary job to support yourself during the job-hunting process. This is absolutely fine as long as it doesn’t prevent you from job-hunting, and is not a job that would qualify for the purposes of this job offer guarantee (see the previous section).

    %h3 How is the job-hunting process tracked

    %p You’ll need to maintain a weekly written record of your job-hunting activities (specific jobs applied to, links to blog posts, Career Fairs attendance, etc). This record will form the basis for the refund. You’ll need to share this document with the Careers team at the beginning of the job-hunt in order to qualify for the job offer guarantee. The Careers team will describe the process in detail before you start job-hunting.

    %h3 Who qualifies for the job offer guarantee

    %p Anyone who joined MA after to get a job as a junior software developer, paid us the tuition fees, and successfully completed the 16 week course, including building and presenting the final project. If you leave MA before the end of the course, whether because you chose to do so yourself or we had to ask you to leave, you won’t qualify for the job offer guarantee.

    %p Additionally, the following sutdents don't qualify for the job offer guarantee

    %ul
      %li students who completed the course before 26 March 2018
      %li students who aren’t looking for a job in the UK
      %li students sponsored or referred by their employer
      %li students who don’t have the right to work in the UK full-time for at least a year following the end of the course

    %h3 How to claim a refund

    %p If you believe you qualify for the refund of the tuition fees under this job offer guarantee, please email jobguarantee@makersacademy.com attaching the record of your jobhunting process (see above), and we will get back to you in writing within 10 working days.

    %h3 Amendments to this job offer guarantee

    %p MA reserves the right to make reasonable changes to the terms of this job offer guarantee, in particular the requirements for the job-hunting process, from time to time without further notice, as our approach to helping our developers find jobs they love evolves.
