- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby In 15 Minutes
      %h4.subheader Download the guide
      %P Get a free copy of our Learn Ruby In 15 Minutes e-book by signing up to our newsletter. It's perfect for anyone that is interested in taking the plunge by learning to code. It is a good start into the Ruby language if you've never had any experience before and we've made it as easy to understand as possible.
    = partial :"email-capture"

%section
  .article--centered
    %article
      %h3 What will you learn?
      %p You will learn about installing ruby, method calls, variables,
      %p A bit more detail about what is in the book?

- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby In 15 Minutes
      %h4.subheader Download the guide
    = partial :"email-capture"


/ Mixpanel event for landing pages
:javascript
  mixpanel.track('Viewed Landing Page', {'Landing Page': 'Learn Ruby In 15'});
  mixpanel.people.set({'Category': 'Learn Ruby in 15'});
