- description "Check out our hiring partners."
%section.backgrounded{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Hiring Partners
      %p Makers Academy is Europe’s leading developer bootcamp. Learn the principles of software craftsmanship under the guidance of top industry professionals. 
    .button-row
      %p 
        = link_to "Looking to Hire Graduates?", "http://employers.makersacademy.com", class: "button--horizontal"

%section.article
  %article
    %h2.subheader Why do they hire Makers grads?
    %p Makers Academy graduates are hired because they're passionate, driven, curious and engaging.  Due to the variety of backgrounds of our students, hiring parters like to hire from us because they know you're more than just a junior developer thanks to your succesful careers in other industries everything from corporate and start-up, whether law, marketing, graphic design or anything else: experience you will take to your new company.