- description "Check out our hiring partners."
%section.backgrounded{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Hiring Partners
      %p We want to help you start your career as a junior developer so with our on-site careers service to realtionships with hiring partners we'll make sure to work day and night to land you your dream job.
    .button-row
      %p 
        = link_to "Looking to Hire Graduates?", "http://employers.makersacademy.com", class: "button--horizontal"

%section.article
  %article
    %h2.subheader Why do they hire Makers grads?
    %p Makers Academy graduates are hired because they're passionate, driven, curious and engaging.  Due to the variety of backgrounds of our students, hiring parters like to hire from us because they know you're more than just a junior developer thanks to your succesful careers in other industries everything from corporate and start-up, whether law, marketing, graphic design or anything else: experience you will take to your new company.

%section.full-slider
  .slider
    .slide
      .container
        .profile-row
          .image
            = image_tag "graduates/paul-smith.png"
          .copy
            %blockquote Makers Academy is a Conveyor Belt of Awesome! There is no other source of recruitment that I would put this much energy into.
            %h2.subheader Martin Aspeli, Chief Engineer, Deloitte Digital
    .slide
      .container
        .profile-row
          .image
            = image_tag "graduates/paul-smith.png"
          .copy
            %blockquote I love Makers - they are a really nice bunch of chaps. They also play a mean game of Jenga, not to mention the Karaoke talent is formidable.
            %h2.subheader Marketing Executive to Junior Developer

%section.article--right
  %article
    %h2.subheader Why do they hire Makers grads?
    %p Our hiring partners come in all sorts of sizes. From big corporate established companies looking to update their tech team with new blood to autonomous agencies looking to get you just making.

