- description "Discover payment options"
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-overhead-discussion.jpg")});"}
  .container
    .centered-row
      %h1 Payment Options
      %p We offer a variety of payment options, and discounts for representatives of minority groups. Price should never be a barrier to a student joining Makers Academy.
%section
  .container
    .centered-row
      %h1 What's included?
      %ul.default-ul
        %li Learn cutting-edge tech
        %li 12 weeks of full-time study
        %li Regular meetups and talks at the office
        %li Macbook Pro Retina 13" and 24" display for the duration of the course
        %li Placement help for graduation
        %li Breakfast, coffee and snackll-plans
    .centered-row
      %table
        %thead.plans
          %tr.plans
            %th.plan-labels
            %th.plans
              Early payment
              %br/
              (10% discount)
            %th.plans
              Standard price
            %th.plans PCDL
        %tbody
          %tr
            %th.plan-labels Deposit
            %td £800
            %td £800
            %td £800
          %tr
            %th.plan-labels Upfront Payment
            %td £6,400
            %td £7,200
            %td None
          %tr
            %th.plan-labels Payment after the course
            %td None
            %td None
            %td To be defined*
          %tr
            %th.plan-labels Total cost to you
            %td.total-cost £7,200
            %td.total-cost £8,000
            %td.total-cost To be defined*
          %tr
            %th.plan-labels More info
            %td{:colspan => "2"} 10% discount only applies when full payment is received 30 days before your course.
            %td
              %a{:href => "https://www.gov.uk/career-development-loans/overview"} Find out more
    %small.loans-blurb
      *Professional and Career Development Loans are commercial bank loans that can be used to help pay for work related learning. You can borrow between £300 and £10,000 to help support the cost of up to two years of learning (or three years if it includes one year’s relevant unpaid practical work). The Government will pay the interest on the loan while you are learning and for one month afterwards. You will then need to start repaying the loan as you would any other commercial loans product. The loan can be used to pay course fees or other costs such as travel and living expenses. You can also use the loan to supplement other forms of support such as grants or bursaries.
    %small.loans-blurb
      As the Professional and Career Development Loan is a commercial loan product, you should make sure you have investigated all the funding options that may be open to you to ensure you take an informed decision about whether the Loan is right for you. For further information on financial assistance to support your learning visit, https://www.gov.uk/career-development-loans/overview or contact the National Careers Service on 0800 100 900. Our learning provider registration number is: 21204.’s
= partial :"partials/apply", locals: {page: :payment}
