- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
- @hide_from_google = true

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn to code in 12 weeks
      %p Makers Academy is Europe's leading Web Developer bootcamp. With our help, you'll learn the principles of software craftsmanship and we'll also help you get your first job as a developer.
      %p Can’t wait to get started? Sign up to our newsletter and get a free e-book: Learn Ruby in 15 minutes.
    = partial :"email-capture"
