- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h2 Makers Academy QardHassan Loan
      %h4.subheader Learn to code in 12 weeks from home
      %p  Makers Academy is Europe’s leading Web Developer bootcamp. Makers Academy have teamed up with QardHassan to deliver a handful of interest free loans for the remote course for anyone from a black or ethnic background.

= partial :"_qardhasan_info"

= partial :"vlogs"

%section.typeform
  .typeform-widget{"data-text" => "Hire Graduates", "data-url" => "https://makersacademy.typeform.com/to/eMb5ws"}

:javascript
  (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})();



-#
-#   .container
-#     .form-row
-#       %form.trackable-form{action: "/fridge-raiders/success"}
-#         %fieldset
-#           .input-row
-#             %label{for: "firstname", class: "required"}
-#               First Name
-#             %input{type: "text", required: true, name: "firstname", id: "firstname"}
-#           .input-row
-#             %label{for: "surname", class: "required"}
-#               Surname
-#             %input{type: "text", required: true, name: "surname", id: "surname"}
-#           .input-row
-#             %label{for: "email", class: "required"}
-#               Email address
-#             %input{type: "email", required: true, name: "email", id: "email"}
-#           .input-row
-#             %label{for: "phone", class: "required"}
-#               Phone number
-#             %input{type: "tel", required: true, name: "phone", id: "phone"}
-#           .input-row
-#             %label{for: "age", class: "required"}
-#               How old are you?
-#             %input{type: "number", min: 18, required: true, name: "age", id: "age"}
-#           .button-row
-#             %p
-#               %input{type: "submit", value: "Start Coding Now"}
-#
-# %hr
-#
-#
-# = javascript_include_tag "track-form/save-for-later-submit"
-#
-# :javascript
-#   analytics.track('Viewed Landing Page', {'Landing Page': 'Fridgeraiders'});
-#   analytics.identify({'Fridgeraiders': true});
