- description "Makers Academy is London's leading Web Developer Bootcamp. Learn how to code in 12 Weeks by enrolling on our programming / web development courses Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1
      %P Our remote programme has now ended. Read more about it here (insert link)
    = partial :"email-capture", locals: { segments: "remote" }


= partial :"primary_call_to_action", locals: {page: :remote}

/ Analytics event for landing page
:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'Remote'});
  analytics.identify({'Remote': true});
