- description "Makers Academy graduates come from all sorts of backgrounds. The diversity of our students has proved one thing - no matter your background, you can learn to code in 12 weeks and make a career change if you really want it."
- title "Graduates"

%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      = link_to(image_tag("hiring-partners/ThoughtWorks.png", class: "show-for-mobile"), "https://www.thoughtworks.com/", class: "image image--centered small-padding-top")
    .centered-row
      %p "Makers Academy gives us people who are consistently high-calibre, work-ready and bring a breadth of life experience and innovative ways of thinking."
      %p
        Jade Daubney, Recruitment Change Lead,
        %em ThoughtWorks

= partial :"full_graduates", locals: {category: "thoughtworks" }

= partial :"primary_call_to_action"

/ Analytics event for landing page
:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'ThoughtWorks'});
  analytics.identify({'ThoughtWorks': true});
