- description "Makers Academy is the best place to learn to code if you’re a woman"
- title ""


%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/women.jpg")});"}
  .container
    .centered-row
      %h1 Change your future
      %h4.subheader  Flexible, fulfilling work for life
      %p Makers Academy is the best place to learn to code if you’re a woman. As Europe's leading developer bootcamp, we emphasise holistic learning and have a zero tolerance policy for harassment and sexism.
      %p If you want skills that lead to well-paid work with geographical flexibility, coding might be for you. Through doing our course, women have found interesting work, financial independence, and the opportunity to future-proof their careers.

    -# = partial :"email-capture", locals: { segments: "website-email-women" }

%section
  %h3 Sara's Story
  .container
    .video-row
      .video-wrapper
        %iframe{src: "https://www.youtube.com/embed/6MDSCGclrvQ", frameborder: 0, allowfullscreen: true}

%section.no-padding-bottom.backgrounded
  .container
    .centered-row
      %h3 How we walk the talk
      %p From our first year we offered a discount to female applicants. We celebrated when we achieved a 51% female cohort (without ever introducing quotas or changing entry criteria).
      %p We’re part of the Tech Talent Charter and Tech She Can Charter. Our publicised opinions on inclusivity align with those of world-leading researchers in this space, and last year we launched a Fellowship to broaden our pool of talent at Makers

= partial :"full_graduates", locals: { category: "female" }

%section.backgrounded
  %h3 Meet our Developers
  .container
    .video-row
      .video-wrapper
        %iframe{src: "https://www.youtube.com/embed/7fhq-LrzMKQ", frameborder: 0, allowfullscreen: true}


%section
  .container
    %h2 Come to our Demo Day
    %p.lead We’d love to show you around Makers, showcase what our developers have built and answer any questions you might have.
    %iframe.padding-top{src: "//eventbrite.co.uk/tickets-external?eid=32658194539", frameborder: 0, height: "375", width: "100%", allowfullscreen: true}

/ Analytics for landing page
:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'Women 2018'}), {'nonInteraction': 1});
